@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.main {
 display: flex;
 max-width: 100%;
}

.container {
    margin: 0px;  
    padding: 5em 2em;  
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #04B7AB;
    color: #fff;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }

.title {
    font-family: Poppins;
    font-weight: normal;
  }

.left{
    width: 100vw;
    padding: 1em;
  }

.right{
    width: 100vw;
    padding: 1em;
    text-align: left;
    font-family:  Poppins;
  }

.right a{
    text-decoration: none;
    color: #7fe1cf;
}

.right a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 500px){   
    .container {
        margin: 0px;   
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #04B7AB;
        color: #fff;
        display: flex;
        width: 100%;
        flex-direction: row;
        overflow: hidden;
    }

    .title {
        font-family:  Poppins;
        font-weight: normal;
    }

    .left{
        width: 40%;
    }

    .right{
        width: 50%;
        text-align: left;
        font-family:  Poppins;
    }

    .right p{
        width: 500px;
        font-size: 18px;
    }
  }