@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.container {
    padding: 0 20px;
    text-align: center;
    margin: 0 auto;
  }

.title {
    font-family: Rubik Mono One;
  }